/* Resets any built-in padding to zero */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Every section but header and footer have same font family hierarchy */
section {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* Increased font size for header */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Emphasize the letters SEO with different color than other letters in Horiseon */
#seo {
    color: #d9dcd6;
}

.nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* List of header links */
ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* I tried to move this image to the html file, but everything I tried changed the format dramatically, so I left it alone */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* Services aligned on left side of page */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

/* Image aligned left */
#SEOimage {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

/* Image aligned right */
#ORMimage {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

/* Image aligned left */
#SMMimage {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

/* Benefits in a column on right side of page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-image {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
